<?xml version="1.0"?>
<!--
    注意: 除了手动编辑此文件以外，您还可以使用 Web 管理工具来
    配置应用程序的设置。
    可以使用 Visual Studio 中的“网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在    machine.config.comments 中，
   该文件通常位于
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
	<appSettings>
		<add key="trial" value="false"/>
		<!--非正式版的测试配置-->
		<add key="MaxUseTimes" value="200"/>
		<add key="MaxUseDays" value="90"/>
		<add key="Authorization" value="true"/>
		<!--设置图片控件类型，largon:0 ,Isoview:1,-->
		<add key="GraphicType" value="1"/>
		<!--是否显示打印功能-->
		<add key="PDFPrintVisable" value="true"/>
    <!--右上角的dmc，适用性，密级-->
    <add key="ShowDmc" value="true"/>
    <add key="ShowApplic" value="true"/>
    <add key="ShowSecurity" value="true"/>
		<!--是否显示维护任务-->
    <add key="ShowSchecduleTime" value="false"/>
		<!--是否显示导出备注-->
		<add key="ShowExportRemark" value="true"/>
		<!--是否显示三维导航-->
		<add key="Show3DNavigate" value="false"/>
		<!--登录后默认显示Page(默认为首页)：0为三维导航、1为首页-->
		<add key="ShowPage" value="1"/>
    <!--每幅图后面是否显示ICN-->
    <add key="ShowICN" value="true"/>
    <!--是否显示数据模块结束-->
    <add key="DmEnding" value="true"/>
    <!--使用跳转的页面时是否可见-->
    <add key="ShowStartPage" value="false"/>
    <!--是否显示完整IE界面，false则使用一页面跳转-->
    <add key="ShowBorder" value="true"/>
    <!--设置默认的适用性选择，形式如“1,4”,从1开始设置选择项，用逗号分开-->
    <add key="DefaultApplic" value=""/>
    <!--是否在dm标题中显示适用性信息(仅2.3有效)-->
    <add key="ShowApplicInTitle" value="false"/>
    <add key="PECtrlPath" value="D:\\PECtrlCache" />
    <!--故障报告扩展，该扩展由使用者自行实现-->
    <add key="AfiReportExtend" value="" />
	</appSettings>
	<connectionStrings/>
	<system.web>
		<!--
            设置 compilation debug="true" 可将调试符号
            插入已编译的页面中。
            但由于这会影响性能，因此只在开发过程中将此值
            设置为 true。
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<sessionState mode="InProc" timeout="60"></sessionState>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
            -->
		<authentication mode="Forms">
		</authentication>
		<!--<authentication mode="Forms">
      <forms loginUrl="index.html" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>-->
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。
            具体说来，
            开发人员通过该节可以配置
            要显示的 HTML 错误页以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<webServices>
			<protocols>
				<add name="HttpSoap"/>
				<add name="HttpPost"/>
				<add name="HttpGet"/>
				<add name="Documentation"/>
			</protocols>
		</webServices>
		<!-- 加密文件类型在此配置 -->
		<httpHandlers>
			<!-- 手册页面start -->
			<add verb="*" path="*.html" type="IBVHttpHandler"/>
			<add verb="*" path="*.htm" type="IBVHttpHandler"/>
			<!-- 手册页面end -->
			<!-- 源文档start -->
			<add verb="*" path="*.xml" type="IBVHttpHandler"/>
			<!-- 源文档end -->
			<!-- 图像、多媒体支持的所有文件类型start -->
			<add verb="*" path="*.bmp" type="IBVHttpHandler"/>
			<add verb="*" path="*.jpg" type="IBVHttpHandler"/>
			<add verb="*" path="*.tif" type="IBVHttpHandler"/>
			<add verb="*" path="*.gif" type="IBVHttpHandler"/>
			<add verb="*" path="*.cgm" type="IBVHttpHandler"/>
			<add verb="*" path="*.avi" type="IBVHttpHandler"/>
			<add verb="*" path="*.mp3" type="IBVHttpHandler"/>
			<add verb="*" path="*.mp4" type="IBVHttpHandler"/>
                        <add verb="*" path="*.mpg" type="IBVHttpHandler"/>
                        <add verb="*" path="*.mpeg" type="IBVHttpHandler"/>
			<add verb="*" path="*.mov" type="IBVHttpHandler"/>
			<add verb="*" path="*.wma" type="IBVHttpHandler"/>
			<add verb="*" path="*.wmv" type="IBVHttpHandler"/>
			<add verb="*" path="*.swf" type="IBVHttpHandler"/>
			<add verb="*" path="*.png" type="IBVHttpHandler"/>
			<add verb="*" path="*.ico" type="IBVHttpHandler"/>
			<add verb="*" path="*.vsd" type="IBVHttpHandler"/>
			<!-- 3D多媒体支持 -->
			<add verb="*" path="*.1" type="IBVHttpHandler"/>
			<add verb="*" path="*.CATDrawing" type="IBVHttpHandler"/>
			<add verb="*" path="*.CATPart" type="IBVHttpHandler"/>
			<add verb="*" path="*.CATProduct" type="IBVHttpHandler"/>
			<add verb="*" path="*.ipt" type="IBVHttpHandler"/>
			<add verb="*" path="*.iam" type="IBVHttpHandler"/>
			<add verb="*" path="*.par" type="IBVHttpHandler"/>
			<add verb="*" path="*.cfg" type="IBVHttpHandler"/>
			<add verb="*" path="*.SLDPRT" type="IBVHttpHandler"/>
			<add verb="*" path="*.SLDDRW" type="IBVHttpHandler"/>
			<add verb="*" path="*.SLDASM" type="IBVHttpHandler"/>
			<add verb="*" path="*.SLDPRT" type="IBVHttpHandler"/>
			<add verb="*" path="*.prt" type="IBVHttpHandler"/>
			<add verb="*" path="*.dwg" type="IBVHttpHandler"/>
			<add verb="*" path="*.dgn" type="IBVHttpHandler"/>
			<add verb="*" path="*.dst" type="IBVHttpHandler"/>
			<add verb="*" path="*.asm" type="IBVHttpHandler"/>
			<add verb="*" path="*.pcb" type="IBVHttpHandler"/>
			<add verb="*" path="*.emf" type="IBVHttpHandler"/>
			<add verb="*" path="*.wmf" type="IBVHttpHandler"/>
			<add verb="*" path="*.ddb" type="IBVHttpHandler"/>
      <add verb="*" path="*.sch" type="IBVHttpHandler"/>
      <add verb="*" path="*.edz" type="IBVHttpHandler"/>
      <add verb="*" path="*.eoz" type="IBVHttpHandler"/>
      <add verb="*" path="*.rh" type="IBVHttpHandler"/>
      <add verb="*" path="*.wrl" type="IBVHttpHandler"/>
			<!-- 图像、多媒体支持的所有文件类型end -->
			<add verb="*" path="Download.Download" type="DownloadHandler"/>
			<!-- 其他start -->
			<!--<add verb="*" path="*.swp" type="IBVHttpHandler"/>-->
			<!-- 其他end -->
		</httpHandlers>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8"/>
		<httpRuntime maxRequestLength="5120"/>
	</system.web>
  <system.webServer>
    <handlers>
      <add name="*.Download" path="*.Download" verb="*" type="DownloadHandler" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
</configuration>
